{% extends 'catalog/base.html' %}
{% load static %}
{% block title %}Блоки питания{% endblock %}
{% block content %}
<h1>Блоки питания</h1>
<div class="products_list d-flex">
	{% for product in powersupply_list %}
		<div class="product_item">
			<a href="{% url 'powersupply_detail' pk=product.pk %}"><img class="product_img" src="{{product.image.url}}" alt=""></a>
			<hr>
			<div class="product_title"><a href="{% url 'powersupply_detail' pk=product.pk %}">{{product.model}}</a></div>
			<div class="product_price">
				<p>Цена: {{product.price}} тг</p>
			</div>
			<div class="product_detail_link">
				<a class="btn btn-secondary" href="{% url 'powersupply_detail' pk=product.pk %}">Перейти</a>
			</div>
		</div>
	{% endfor %}
</div>
	
{% endblock %}
	