{% extends 'catalog/base.html' %}
{% load static %}
{% block title %} {{powersupply.model}} {% endblock %}
{% block content %}

<div class="product_detail">
	<h1 class="product_detail_title">{{powersupply.name}}</h1>
	<div class="product_info">
		<div class="row product_card">
			<div class="col-lg-5">
				<img class="product_detail_image" src="{{powersupply.image.url}}" alt="">
			</div>
			<div class="col-lg-7">
				<ul>
					<li class="product_detail_price"><h3>Цена: {{powersupply.price}} тг</h3></li>
					<li class="product_detail_characterictic"><b>Модель:</b> {{powersupply.manufacturer}} {{powersupply.model}}</li>
					<li class="product_detail_characterictic"><b>Модель:</b> {{powersupply.power}} WT</li>
				</ul>
			</div>
		</div>
		<div class="all_products d-flex mb-5">
			{% for powersupply in product_list %}
				<div class="product_item">
					<a href="{% url 'powersupply_detail' pk=powersupply.pk %}"><img class="product_img" src="{{powersupply.image.url}}" alt=""></a>
					<hr>
					<div class="product_title"><a href="{% url 'powersupply_detail' pk=powersupply.pk %}">{{.model}}</a></div>
					<div class="product_price">
						<p>Цена: {{powersupply.price}} тг</p>
					</div>
					<div class="product_detail_link">
						<a class="btn btn-secondary" href="{% url 'powersupply_detail' pk=powersupply.pk %}">Перейти</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
